.hero_inner-row {
    display: flex;
}
.hero-left-side-box {
    width: 35%;
}
.hero-right-side-box {
    width: 65%;
}


.pos_relavtive{
    position: relative;
}
.carousel_inner_text {
    position: absolute;
    bottom: 90px;
    transform: translatex(25%);
}
.carousel_inner_text h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}
.carousel_inner_text a {
    padding: 5px 10px;
    background: yellow;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.carousel_inner_text a {
    padding: 5px 10px;
    background: #fbc303;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.react-multiple-carousel__arrow {
    top: 85%;
}
/* .carousel-box {
    width: 100%;
    height: 500px;
} */
/* .crousel-inner-box{

}
.crousel-inner-box img{
    width: 100%;
    height: 400px;
} */
.react-multi-carousel-list {
    height: 450px;
}
.react-multi-carousel-track {
    height: 450px;
}
.hero-right-side-box {
    padding-left: 40px;
}

.hero-right-side-box .card.crousel-inner-box img{
    width: 100%;

}
.hero-right-side-box .card.crousel-inner-box {
    padding: 10px;
}